body {
   background-color: #ECF8F9;
}

.welcome-logo {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.btn-index {
    color: white;
    background-color: #3D5656;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    outline: none;
    border: 5px;
    border-radius: 4px;
}